# PostgreSQL (sink) — локальная БД для записи фидбэков
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=
POSTGRES_PASSWORD=

# PostgreSQL (source) — Яндекс Облако, таблица подписчиков
SOURCE_POSTGRES_HOST=
SOURCE_POSTGRES_PORT=6432
SOURCE_POSTGRES_USER=
SOURCE_POSTGRES_PASSWORD=

# Kafka
KAFKA_BOOTSTRAP_SERVERS=
KAFKA_USER=
KAFKA_PASSWORD=
KAFKA_TOPIC_IN=
KAFKA_TOPIC_OUT=
